* {
    font-family: helvetica;
    box-sizing: border-box;
}

body{
    padding: 1rem;
}

h1{
    text-align: center;
}

h4{
    text-align:center;
     padding-inline: 300px; 
    

}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto;
}

/* label{ 
    font-weight: bold;
    margin-bottom: 5px;
}
*/
input,option,textarea{
    background-color: white;
    
    text-align: center;
}
input,select,textarea{
    width: 100%;
    padding: 10px;
     border: 1px solid #060000; 
    border-radius: 5px;
    font-size: 1.1rem;
    color: #757373;
    
}

button {
    padding: 10px;
    border: none; 
    border-radius: 10px;
    background-color: black;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover{
    background-color: yellow;
    color: #da0c0c;
  
}

.btn{
    width: 120px;
}

.botoes{
    display: flex;
    /* alinhamento de formas iguais  */
    justify-content: space-between;
}

