body {
    background-color: rgb(136, 133, 133); 
    margin: 0 100px;

}

.imagem {
    width: 1500px;
    height: 800px;
    margin: 1px;
  
}



.lista {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.lista>li {
    border: 5px solid brown;
    background-color: rgb(80,79,81);
    color: white;
}

.lista>li:hover{
    background-color: rgb(218, 10, 10);
}

.container{
    display: flex;
    align-content:center;
    text-align: center;
    padding:5px ;
}

/*.imagem2 {
    width: 200px;
    height: 350px;
    margin: 10px;
    padding: 0px;
}
*/
.cards{
    background-color: rgb(249, 253, 253);
    margin: 15px;
    

}

.h2{
   text-align: center;
   display: table-cell;
   vertical-align: middle;
}